
extend ../../cmn/frame.jade

block content
	input(type="text" name="name")
	select(name="location")
		option(value="Field 1") Field 1
		option(value="Field 2") Field 2
		option(value="Clubhouse") Clubhouse
	textarea(name="description")
	input#check-recurring(type="checkbox" name="recurring")
	input#date(type="hidden" name="date")
	#datepicker


	#columns
		.column(draggable="true")
			header A
		.column(draggable="true")
			header B
		.column(draggable="true")
			header C

	#recurring
