
extend ../../cmn/frame.jade

block content
	h1 Roster Page

	.playerlist
		.player(draggable="true") Player 1
		.player(draggable="true") Player 2
		.player(draggable="true") Player 3

	h5 Your Info
	p blah
	p billah 
	p 34



	#leftbox.cont
		img#pic(src="http://1800accountant.com/accapp/images/1800AccountantLogo.png" draggable="true")

	#rightbox.cont